.editor {
  padding: 0px 20px;
  min-height: 100%;
  width: 100%;
}

.label {
  font-weight: 500;
}

.textinput {
  padding: 4px;
  display: block;
  width: 100%;
}

.numberinput {
  width: 4em;
  text-align: right;
}
