.editor {
  padding: 0px 20px;
  min-height: 100%;
  width: 100%;
}

.label {
  font-weight: 500;
}

.textinput {
  padding: 4px;
  display: block;
  width: 100%;
}

.numberinput {
  width: 4em;
  text-align: right;
}

.mediaContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 2px;
  display: flex;
  justify-content: center;
}

.folderImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.folderTitle {
  max-width: 100px;
}

.assetImage {
  height: 72px;
}

.paddingImages {
  padding: 4px 4px !important;
}

.helptitle {
  margin-bottom: 0px;
}

.helpbody {
  margin-bottom: 4px;
}

.popupMenu {
  border: 1px solid rgba(10, 10, 10, 0.1);
  box-sizing: border-box;
}

.popupMenuContent {
  box-sizing: border-box;
  height: 150px;
  outline: 0;
  overflow-y: auto;
  padding: 10px;
}

.popupMenuActionbar {
  background-color: #fff;
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
}

.popupMenuButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: 0;
  vertical-align: bottom;
}

.popupMenuButtonSelected {
  background-color: #f0f0f0;
}
