.editor {
  padding: 0px 20px;
  min-height: 100%;
  width: 100%;
}

.label {
  font-weight: 500;
}

.textinput {
  padding: 4px;
  display: block;
  width: 100%;
}

.numberinput {
  width: 4em;
  text-align: right;
}

.mediaContainer {
  display: flex;
  flex-wrap: wrap;
}

.folderImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.folderTitle {
  max-width: 100px;
}

.assetImage {
  width: 72px;
  height: 72px;
  object-fit: cover;
}

.helptitle {
  margin-bottom: 0px;
}

.helpbody {
  margin-bottom: 4px;
}
