
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-plus-circled:before { content: '\e803'; } /* '' */
.icon-minus-circled:before { content: '\e804'; } /* '' */
.icon-help-circled:before { content: '\e805'; } /* '' */
.icon-ccw:before { content: '\e806'; } /* '' */
.icon-cog:before { content: '\e807'; } /* '' */
.icon-align-center:before { content: '\e808'; } /* '' */
.icon-align-left:before { content: '\e809'; } /* '' */
.icon-align-right:before { content: '\e80a'; } /* '' */
.icon-export:before { content: '\e80b'; } /* '' */
.icon-print:before { content: '\e80c'; } /* '' */
.icon-down-dir:before { content: '\e80d'; } /* '' */
.icon-logout:before { content: '\e80e'; } /* '' */
.icon-arrows-cw:before { content: '\e80f'; } /* '' */
.icon-link:before { content: '\e810'; } /* '' */
.icon-bold:before { content: '\e811'; } /* '' */
.icon-italic:before { content: '\e812'; } /* '' */
.icon-align-justify:before { content: '\e813'; } /* '' */
.icon-indent-left:before { content: '\e814'; } /* '' */
.icon-indent-right:before { content: '\e815'; } /* '' */
.icon-cw:before { content: '\e816'; } /* '' */
.icon-cancel-circled:before { content: '\e817'; } /* '' */
.icon-font:before { content: '\e818'; } /* '' */
.icon-stop:before { content: '\e819'; } /* '' */
.icon-adjust:before { content: '\e81a'; } /* '' */
.icon-fontsize:before { content: '\f088'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-strike:before { content: '\f0cc'; } /* '' */
.icon-underline:before { content: '\f0cd'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-clone:before { content: '\f24d'; } /* '' */