html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #f1f1f1;
  font-family: "Verdana", arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

.pagecontent {
  margin-top: 0px;
}

.fullheight {
  height: 100%;
}

.fullwidth {
  width: 100%;
}

.bottommargin {
  margin-bottom: 8px;
}

.leftpadding {
  padding-left: 8px;
}

.leftmargin {
  margin-left: 8px;
}

.topmargin {
  margin-top: 4px;
}

/*
	Print styles
*/

@media print {
  .w3-bar {
    display: none;
  }

  @page {
    margin: 2cm;
  }

  body {
    /* font: 13pt Georgia, "Times New Roman", Times, serif; */
    line-height: 1.3;
    background: #fff !important;
    color: #000;
  }

  hr {
    page-break-before: always;
    visibility: hidden;
  }

  .pagecontent {
    margin-top: 10px;
  }

  a {
    page-break-inside: avoid;
  }
  blockquote {
    page-break-inside: avoid;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
    page-break-after: avoid;
  }
  table,
  pre {
    page-break-inside: avoid;
  }
  ul,
  ol,
  dl {
    page-break-before: avoid;
  }

  a[href^="http"]:after {
    content: " <" attr(href) "> ";
  }

  article a[href^="#"]:after {
    content: "";
  }

  a:not(:local-link):after {
    content: " <" attr(href) "> ";
  }
}

.slider {
  -webkit-appearance: none;
  /* width: 100%; */
  height: 12px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2196f3;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2196f3;
  cursor: pointer;
}

.loader {
  border: 12px solid #f3f3f3; /* Light grey */
  border-top: 12px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

.padding-tiny {
  padding: 2px 4px !important;
}

.padding-tiny-lr {
  padding: 0px 4px !important;
}
